:root {
  --background-color: #ffffff;
  --logo-color: #4d5ae5;
  --main-title-color: #2e2f42;
  --main-paragraf-color: #434455;
  --right-part-logo-header: #2e2f42;
  --right-part-logo-footer: #f4f4fd;
  --portfolio-btn-text: #4d5ae5;
  --portfolio-btn-background: #f4f4fd;
  --border-color-btn-portfolio: #e7e9fc;
  --backgroung-social-icon: #4d5ae5;
  --color-social-icon: #f4f4fd;
  --customers-icon-color: #8e8f99;
  --title-media-color: #ffffff;
  --color-text-label: #8e8f99;
  --background-color-checkbox: #404bbf;
  --privacy-link-color: #4d5ae5;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--background-color);
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1158px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* =====HEADER===== */

.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav-container {
  display: flex;
}

.menu {
  display: flex;
  gap: 40px;
}

.logotype {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  padding: 24px 0;
  margin-right: 76px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.right-part-logo {
  color: var(--right-part-logo-header);
}

.menu-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.active {
  color: #404bbf;
}

.active::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: -1px;

  background: #404bbf;
  border-radius: 2px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contacts {
  font-style: normal;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.contacts {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: #404bbf;
}

/*=====ADDRESS=====*/

.menu-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-links:last-child {
  margin-right: 0;
}

.menu-contacts {
  margin-left: auto;
}

.menu-item:last-child {
  margin-right: 0;
}

/*=====/ADRESS===== */

/* =====/HEADER===== */

/* =====HERO===== */
.main-title {
  margin: auto;
  max-width: 496px;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero {
  margin: auto;
  padding: 188px 0 188px;
  text-align: center;
  max-width: 1440px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-button {
  display: block;
  border: none;
  margin: auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 56px;
  cursor: pointer;
  background: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* =====/HERO===== */
/* =====MAIN-CONTAINER===== */

.main-content {
  margin: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.suptitle {
  text-align: start;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.text-item {
  text-align: start;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-paragraf-color);
}

.last-title {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}

.company-features {
  padding: 120px 0 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list:last-child {
  margin-right: 0;
}

.icon-features {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.text-list {
  width: calc((100% - 72px) / 4);
}

.specialization-company {
  padding-bottom: 120px;
}

.specialization-list {
  gap: 24px;
}

.specialization-list:last-child {
  margin-right: 0;
}

.members-company {
  padding: 120px 0 120px;
  background-color: #f4f4fd;
}

.images {
  display: block;
}

.img-list {
  box-sizing: border-box;
  width: calc((100% - 48px) / 3);
}

.list-members {
  gap: 24px;
}

.list-members:last-child {
  margin-right: 0;
}

.list-company-members {
  width: calc((100% - 72px) / 4);
}

.list-company-members {
  width: 264px;
  min-height: 380px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.name-workers {
  padding: 32px 0;
}

.suptitle-name {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.profession {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-paragraf-color);
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.item-social {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--backgroung-social-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.icon-social {
  fill: var(--color-social-icon);
}

.customers {
  padding: 120px 0 120px;
}

.list-customers {
  display: flex;
  gap: 24px;
}
.logo-customers {
  height: 88px;
  width: calc((100% - 120px) / 6);
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--customers-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.icon-customers {
  fill: currentColor;
}

/* =====/MAIN-CONTAINER===== */
/* =====FOOTER===== */

.right-part-logo-footer {
  align-items: center;
  padding: 0px;
  width: 115px;
  height: 24px;
  left: 156px;
  margin-bottom: 16px;
  color: var(--right-part-logo-footer);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  margin-right: 120px;
}

.title-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-media-color);
}

.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--backgroung-social-icon);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}

.icon-list {
  display: flex;
  gap: 16px;
}

.icon-social-footer {
  fill: var(--color-social-icon);
}

.social-footer-container {
  margin-right: 80px;
}

.text-item-footer {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer {
  margin: auto;
  padding: 100px 0;
  background: #2e2f42;
}

.modal-title-footer {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form-footer {
  display: flex;
}

.modal-footer {
  margin-right: 24px;
}

.input-footer {
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: transparent;
  color: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.input-footer::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #404bbf;
}

.telegram-icon {
  margin-left: 16px;
}

/* =====/FOOTER===== */
/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 100%;

  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

/* /MODAL WINDOW */

/* =====MODAL FORM===== */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.form-container {
  margin-bottom: 8px;
}

.modal-submit-btn {
  display: block;
  margin: auto;
  border: none;
  min-width: 169px;
  height: 56px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  background: #4d5ae5;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-text-label);
}

.input-container {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.textarea-container {
  margin-bottom: 16px;
}

.modal-textarea {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border: 1px solid rgba(46, 47, 66, 0.2);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(46, 47, 66, 0.4);
}

.modal-privacy-policy {
  margin-bottom: 24px;
}

.modal-label-check {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-text-label);
}

.modal-fake-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
}

.modal-form-check:checked + .modal-label-check .modal-fake-checkbox {
  background-color: var(--background-color-checkbox);
  border: none;
  fill: var(--title-media-color);
  border-color: var(--background-color-checkbox);
}

.modal-form-check:focus + .modal-label-check .modal-fake-checkbox {
  border-color: var(--background-color-checkbox);
}

.modal-form-check:focus + .modal-fake-checkbox {
  background: #404bbf;
  border: 1px solid #404bbf;
}

.privacy-policy-link {
  color: var(--privacy-link-color);
}

.modal-icon {
  cursor: pointer;
}

/* =====/MODAL FORM===== */

/* =====PORTFOLIO===== */

.portfolio {
  padding: 96px 0 120px;
}

.list-btn {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.btn-portfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 12px 24px;
  border: 1px solid var(--border-color-btn-portfolio);
  border-radius: 4px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--portfolio-btn-text);
  background-color: var(--portfolio-btn-background);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  border-color: transparent;
  color: #ffffff;
  background-color: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container-btn-portfolio {
  margin-top: 96px;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.link-portfolio {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-link {
  width: calc((100% - 48px) / 3);
}

.team-link-wrapper {
  position: relative;
  overflow: hidden;
}

.img {
  display: block;
}

.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-portfolio:hover .overlay,
.link-portfolio:focus .overlay {
  transform: translate(0, 0);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
}

.application {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.suptitle-portfolio {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
/* =====/PORTFOLIO===== */
